<div class="example-header">
    <div class="form-group">
      <h3>Buscar en la lista</h3> <i class="material-icons">search</i>   
      <input type="text" (keyup)="applyFilter($event.target.value)" class="form-control" placeholder=" Buscar en la lista"> 
    </div>  
  </div>

<mat-table #table [dataSource]="dataSource">  
  <!-- Position Columnas -->
  <ng-container matColumnDef="Titulo">
    <mat-header-cell *matHeaderCellDef> <h4>Titulo</h4> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Informe">
    <mat-header-cell *matHeaderCellDef>  <h4>Informe</h4></mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.informe}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Reporte">
    <mat-header-cell *matHeaderCellDef> <h4> Reporte </h4> </mat-header-cell>
    <mat-cell  *matCellDef="let element"> {{element.reporte_dannos}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Estado">
    <mat-header-cell *matHeaderCellDef> <h4> Estado </h4> </mat-header-cell>
    <mat-cell  *matCellDef="let element"> {{element.estado_vehiculo}} </mat-cell>
  </ng-container> 

  <ng-container matColumnDef="Accion">
      <mat-header-cell *matHeaderCellDef> <h5>Accion</h5> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        
        <button mat-icon-button class="btn btn-warning" (click)="verMantenimiento(element)" >
          <i class="large material-icons">search</i>
        </button>
        
      </mat-cell>
  </ng-container>
  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
</mat-table>


<br>
<mat-paginator #paginator
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 20]"
  [showFirstLastButtons]="true">
</mat-paginator>