<div class="alert alert-warning" role="alertdialog">Completa y llena todos los campos con mira <strong>ROJA</strong></div>
{{input}}

<div *ngIf = "!nombre; else resive">
    <div class="container">     
        <form [formGroup] = "formulario" (ngSubmit)= "add(formulario.value)">
           
            
            <div class="form-group"><!--     Nombres     -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                    </div>
                    <input type="text" class="form-control"  formControlName="nombre" placeholder="Nombre" [(ngModel)]="user.nombre">                        
                </div>
                <div *ngIf="formulario.controls.nombre.errors">
                    <div *ngIf="formulario.controls.nombre.errors.pattern">
                        <div class="alert alert-danger" role="alert">  esto <strong>{{user.nombre}}</strong>, no parece un nombre, Solo en mayusculas y sin numeros</div>    
                    </div>
                </div> 
            </div>
             
            <div class="form-group"><!--   Apellidos       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">apellido</span>
                    </div>
                    <input type="text" class="form-control"  formControlName="apellido" placeholder="Apellidos" [(ngModel)]="user.apellido">                        
                </div>
                <div *ngIf="formulario.controls.apellido.errors">
                    <div *ngIf="formulario.controls.apellido.errors.pattern">
                        <div class="alert alert-danger" role="alert">  esto <strong>{{user.apellido}}</strong>, no parece un nombre, Solo en mayusculas y sin numeros</div>    
                    </div>
                </div> 
            </div>

            <div class="form-group"><!--   Cedula       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Cedula</span>
                    </div>
                    <input type="text" class="form-control"  formControlName="cedula" placeholder="Cedula" [(ngModel)]="user.cedula">                        
                </div>
                <div *ngIf="formulario.controls.cedula.errors">
                    <div *ngIf="formulario.controls.cedula.errors.pattern">
                        <div class="alert alert-danger" role="alert"> Se requiere una cedula, Solo numeros</div>    
                    </div>
                </div> 
            </div>

            <div class="form-group"><!--   correo       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Correo electronico</span>
                    </div>
                    <input type="text" class="form-control"  formControlName="correo" placeholder="laureles@APL.com" [(ngModel)]="user.correo">
                </div>
                <div *ngIf="formulario.controls.correo.errors">
                    <div *ngIf="formulario.controls.correo.errors.pattern">
                        <div class="alert alert-danger" role="alert"> Esto no es un correo. Completalo</div>    
                    </div>
                </div> 
            </div>

            <div class="form-group"><!--   Telefono       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Telefono</span>
                    </div>
                    <input type="text" class="form-control"  formControlName="telefono" placeholder="984563" [(ngModel)]="user.telefono">
                </div>
                <div *ngIf="formulario.controls.telefono.errors">
                    <div *ngIf="formulario.controls.telefono.errors.pattern">
                        <div class="alert alert-danger" role="alert"> Un telefono ? </div>    
                    </div>
                </div> 
            </div>

            <div class="form-group"><!--   Usuario       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Usuario</span>
                    </div>
                    <input type="text" class="form-control"  formControlName="usuario" placeholder="" [(ngModel)]="user.usuario">
                </div>               
            </div>

            <div class="form-group"><!--   Clave       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Clave</span>
                    </div>
                    <input type="password" class="form-control"  formControlName="clave" placeholder="**********" [(ngModel)]="user.clave">
                    <button mat-flat-button color="accent"  (click)="validarClaveLog(validar)" [disabled]="hide">Disabled</button>
                </div>
                <div *ngIf="formulario.controls.clave.touched">
                    <div *ngIf="formulario.controls.clave.touched">
                        <div class="alert alert-warning" role="alert"> 
                            <div class="example-container">
                                <mat-form-field>
                                    <input matInput placeholder="Estas segur@ ?"  [value]="user.clave" [type]="hide ? 'password' : 'text'">
                                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>    
                    </div>
                </div>            
            </div>


            <div class="form-group"><!--   Cargo       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Cargo</span>
                    </div>
                    <mat-form-field>            
                        <mat-select placeholder="Seleccione Cargo"  formControlName = "cargo" [(ngModel)]="user.cargo">
                            <mat-option value="invitado">Invitado</mat-option>
                            <mat-option value="junta">Junta</mat-option>
                            <mat-option value="gerencia">Gerencia</mat-option>
                            <mat-option value="jefe_taller">Jefe Taller</mat-option>  
                        </mat-select>
                    </mat-form-field>
                </div>                
            </div>

            
            <div class="form-group"><!--   estado       -->
                <div class="input-group mb-3">
                    <div class="input-group-prepend">                        
                        <i class="material-icons">local_offer</i>
                        <span class="input-group-text" id="basic-addon1">Estado</span>
                    </div>
                    <div class="col-lg-10">
                        <label for="estado">Seleccina para tener el usuario activo</label>
                        <input   class="seleccion" type="radio" name="estado" [value]="true" formControlName = "estado" [(ngModel)]="user.estado">
                        <div *ngIf="!formulario.controls.estado.required">            
                            <div class="alert alert-danger"><strong>Activa !</strong> este campo es necesario </div>
                            </div>
                        </div>
                </div>                 
            </div>                   
            <button class="btn btn-primary btn-block" [disabled]= "!formulario.valid" (click)="saveOrUpdate()">Crear un nuevo usuario</button>
        </form> 
    </div>
</div>  





  <ng-template  #resive class="form-inline">    
    <div class="card" style="width: 18rem;">
        <ngb-alert type="success">
          <strong>Listo !</strong> se a creado con exito  <i class="material-icons">local_shipping</i>
        </ngb-alert>
        
        
      <div class="card-body">
        <h5 class="card-title">{{user.apellido}}  {{user.nombre}}</h5>
        <p class="card-text">El usuario se a  <strong>crearon</strong> con <strong>exito</strong></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{user.nombre}}</li>
        <li class="list-group-item">{{user.cedula}}</li>
        <li class="list-group-item">{{user.estado}}</li>
        <li class="list-group-item">{{user.usuario}}</li>
        <li class="list-group-item">{{user.correo}}</li>
        <li class="list-group-item">Usuario : <strong>Activo</strong></li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Completo</a>      
      </div>
    </div>
  </ng-template> 


<!--
<ng-template #mision let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title"> Usuario Hola </h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p>
          Mira que este usuario ya 
          <strong>existe</strong><br>valida el campo
          <strong>Correo de usuario</strong> ! {{user.correo}} ¡ para continuar.
      <br>
      </p>
  </div>
  <div class="modal-footer">                
      <button type="button" class="btn btn-warning" (click)="c('Close click')">Listo ?</button>
  </div>
</ng-template>

<ng-template #validar let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Usuario Hola </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            Mira que este usuario ya 
            <strong>existe</strong><br>valida el campo
            <strong>Correo de usuario</strong> ! {{user.correo}} ¡ para continuar.
        <br>
        </p>
    </div>
    <div class="modal-footer">                
        <button type="button" class="btn btn-warning" (click)="c('Close click')">Listo ?</button>
    </div>
</ng-template>

-->