<div class="example-header">
  <div class="form-group">
    <h3>Buscar en la lista</h3> <i class="material-icons">search</i>   
    <input type="text" (keyup)="applyFilter($event.target.value)" class="form-control" placeholder=" Buscar en la lista"> 
  </div>  
</div>
  
  <mat-table #table [dataSource]="dataSource">  
  <!-- Position Columnas -->
  <ng-container matColumnDef="Vehiculo">
    <mat-header-cell *matHeaderCellDef> <h4>Vehiculo</h4> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.vehiculo}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="Conductor">
    <mat-header-cell *matHeaderCellDef>  <h4>Conductor</h4></mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.conductor}} </mat-cell>
  </ng-container>
 
  <ng-container matColumnDef="Accion">
      <mat-header-cell *matHeaderCellDef> <h4>Accion</h4> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        
        <button mat-icon-button class="btn btn-warning" (click)="verRuta(element)" >
          Editar esta  ruta  <i class="material-icons"> build</i>
        </button>
        
        
      </mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
  </mat-table>
  
  
  <br>
  <mat-paginator #paginator
  [pageSize]="3"
  [pageSizeOptions]="[3, 5, 10]"
  [showFirstLastButtons]="true">
  </mat-paginator>
  