<router-outlet ></router-outlet>



<!-- Footer de de App -->
<mat-toolbar class= "footer-texto" >
    <i class="large material-icons">work</i>
    Todos los derechos reservados @ CTU Medellín <br>
    2018 - Desarollado por DACI S.A SENA <br>
    Email: info@ctumedellin.com
</mat-toolbar>

    
<mat-toolbar class="footer-left" >
        <i class="large material-icons">local_shipping</i>
        Dirección: Crr XX # X B XX C.C Autobuses el poblado 325 <br>
        Medellín - Antioquia/ Colombia <br>
        Teléfono: 3616122 - Fax: 285 07 83 <br>
        
</mat-toolbar>
<!-- Footer de de App -->
