<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="active"><img [src]="sinFondo" width="120px" height="100px"></a><br><br>


    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <h3>AUTOBUSES EL POBLADO LAURELES</h3> <br>
        </div>
    </div>
       
      <form class="form-inline">
              
          <div class="menu-usuarios">
              <button mat-button [matMenuTriggerFor]="menu" class="loginUsuario">Usuario <i class="material-icons">account_circle</i></button>
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="/">A.P.L</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">{{lognombre}} {{logApellido}}</a>
                </li>
              </ul>
              <mat-menu #menu="matMenu">
                
                  <mat-card class="example-card">
                      <mat-card-header>             
                          <mat-card-title></mat-card-title>
                          <div mat-card-avatar class="example-header-image"></div>                          
                          <mat-card-title><h4>{{logCargo}}</h4></mat-card-title>
                          <mat-card-subtitle></mat-card-subtitle>
                                         
                      </mat-card-header>
                      
                      <img mat-card-image src="">
                      <mat-card-content>
                          <p>
                          Cierra la sesion para proteger tu informacion, ayudanos aproteger tus datos o acciones dentro de la aplicacion en orden. de esta manera nos cuidamos en cualquier tipo de mal uso de la misma
                          </p>
                      </mat-card-content>
                      <mat-card-actions>                          
                          <button mat-button class="btn btn-warning" (click)="cerrarSesion()">Cerrar sesion <i class="material-icons">phonelink_lock</i></button>
                      </mat-card-actions>
                  </mat-card>
              </mat-menu>
          </div>
      </form>
    </nav>


<!-- MODULOS POR TIPO DE USUARIO -->

<mat-tab-group >    
    <div *ngIf="!ayudas" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Ayudas">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">account_balance</i></mat-icon>
                Inicio
            </ng-template>
           

        <!--EN ESTE PUNTO COLOCAMOS LOS CAMBIOS-->
        <div class="card-group">
            <div class="card">
                    <br><br>
                <div class="modal-dialog text-center">
                    <div class="card-body">
                    <h3 class="card-title">AUTOBUSES EL POBLADO LAURELES <br></h3>
                    <p class="card-text">
                        <img [src]="logoFondo" width="350px" height="280px">                     
                    </p>
                    <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
            <div class="card">                
                <div class="card-body">
                    <div class="modal-dialog text-center">
                    <h4>A.P.L</h4>                    
                    <br>
                        <div class="col-12 user-img">   
                            <img [src]="inicioImagen" width="500px">             
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <br><br><br>
                <div class="card-body">
                <h5 class="card-title">INTELIGENCIA DE FLOTAS</h5>
                <p class="card-text">
                    Somos una empresa que trabajamos para ser mejores en el manejo de 
                    los recursos para nuestros pasajeros que nos prestan su tiempo para 
                    que nosotros podamos trasportarlos
                    <br><br><br>
                    Nos dedicamos a trabajamos para ser mejores en el manejo de 
                    los recursos para nuestros pasajeros que nos prestan su tiempo para 
                    que nosotros podamos trasportarlos. <br>
                    <br>
                </p>
                <p class="card-text"><small class="text-muted">© Autobuses el Poblado 2018 <br>
                    Todos los derechos reservados @ CTU Medellín 2018 - Desarollado por DACI soluciones S.A
                </small></p>
                </div>
            </div>
            </div>
        </mat-tab>
    </div>
    
    <div *ngIf="mantenimientos" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Mantenimiento autobus">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">local_shipping</i></mat-icon>
                Mantenimiento autobus
            </ng-template>
            <app-mantenimiento></app-mantenimiento>
        </mat-tab>
    </div>

    <div *ngIf="siniestros" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Reporte Daños autobus">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">directions_bus</i></mat-icon>
                Reporte Daños autobus
            </ng-template>
            <dannos></dannos>
        </mat-tab>
    </div>

    <div *ngIf="usuarios" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Usuarios">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">how_to_reg</i></mat-icon>
                Usuarios
            </ng-template>
            <app-usuarios></app-usuarios>
        </mat-tab>
    </div>

    <div *ngIf="conductores" ><!--Conductores-->
        <mat-tab class="menu-modulos" label="Conductores">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">airline_seat_recline_normal</i></mat-icon>
                Conductores
            </ng-template>
            <conductor-modulo></conductor-modulo>
        </mat-tab>
    </div>

    <div *ngIf="tablas" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Tablas app">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">business</i></mat-icon>
                Tablas A.P.L
            </ng-template>
            <tablas-app></tablas-app>
        </mat-tab>
    </div>

    <div *ngIf="Vehiculos" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Vehiculo">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">tram</i></mat-icon>
                Vehiculo
            </ng-template>
            <vehiculo></vehiculo>
        </mat-tab>
    </div>

    <div *ngIf="logs" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="logs APL">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">gps_fixed</i></mat-icon>
                Logs A.P.L
            </ng-template>
            <logs-app></logs-app>
        </mat-tab>
    </div>

    <div *ngIf="roles" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Seguridad app">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">security</i></mat-icon>
                Seguridad
            </ng-template>
            <mat-drawer-container class="example-container" autosize>               
                <seguridadUsuarioRol-app></seguridadUsuarioRol-app>               
            </mat-drawer-container>           
        </mat-tab>
    </div>

    <div *ngIf="rutas" ><!--Invitado-->
        <mat-tab class="menu-modulos" label="Rutas Vehiculos">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon"><i  class="material-icons">confirmation_numbe</i></mat-icon>
                Rutas
            </ng-template>
            <mat-drawer-container class="example-container" autosize>               
                <ruta-modulo></ruta-modulo>               
            </mat-drawer-container>           
        </mat-tab>
    </div>

    

</mat-tab-group>
      
