<div class="alert alert-warning" role="alertdialog">Completa y llena todos los campos con mira <strong>ROJA</strong></div>
<div *ngIf = "!informe; else resive">
  <div class="container">       
    <form [formGroup] = "formulario" (ngSubmit)= "add(formulario.value)">
      <div class="form-group">
        <label for="titulo">Titulo Mantenimiento</label>
        <input type="text" class="form-control" formControlName = "titulo" [disabled]="true" placeholder="Titulo Mantenimiento" [(ngModel)]="mantenimiento.titulo">      
      </div>   
      
      <div class="form-group">
        <label for="estado">Estado vehiculo</label>
        <select class="form-control" formControlName ="estado" [(ngModel)]="mantenimiento.estado_vehiculo">
          <option value="Proceso">Proceso</option>
          <option value="Inactivo">Inactivo</option>
          <option value="Listo">Listo</option>
          <option value="Estudio">Estudio</option>        
        </select>
      </div>
      <div class="form-group">
        <label for="Reporte">Reporte Daño</label>
        <select class="form-control" id="estado" formControlName = "reporte" [(ngModel)]="mantenimiento.reporte_dannos" >
          <option *ngFor="let item of dannos" [value]="item.titulo">Titulo : {{item.titulo}} -- Vehiculo : {{item.vehiculo}}</option>                  
        </select>
      </div>     
      <div class="form-group">
        <label for="informe">Informe Mantenimiento</label>
        <textarea class="form-control" id="informe" rows="4" formControlName="informe" [(ngModel)]="mantenimiento.informe"></textarea>
      </div>   
    
    <button class="btn btn-primary btn-block" [disabled]= "!formulario.valid" (click)="saveMantenimiento()" >Crear</button>
    </form> 
  </div>
</div>  

<ng-template  #resive class="form-inline">    
  <div class="card" style="width: 18rem;">
      <ngb-alert type="success">
        <strong>Listo !</strong> se a creado con exito  <i class="material-icons">local_shipping</i>
      </ngb-alert>
      
     
    <div class="card-body">
      <h5 class="card-title">{{mantenimiento.titulo}}</h5>
      <p class="card-text">El mantenimiento para los daños  se <strong>crearon</strong> con <strong>exito</strong></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{mantenimiento.estado_vehiculo}}</li>
      <li class="list-group-item">{{mantenimiento.reporte_dannos}}</li>
      <li class="list-group-item">{{mantenimiento.informe}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Listo</a>      
    </div>
  </div>
</ng-template> 