<br>
<br>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <button mat-fab color="warn" (click)="verInicio()">A.P.L</button>
      </li>
      <li class="nav-item">
        <a class="nav-link"><button mat-button color="warn" (click)="verRol()">Rol para los usuarios</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><button mat-button color="warn" (click)="verPermiso()" >Permisos para el Rol</button></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   
   
  </div>
</div>
<div *ngIf="inicio" class="container"> 
  <div class="card-group">
    <div class="card">      
      <img class="card-img-top" [src]="auto3" width="150px" height="300px" alt="Card image cap">
      <div class="card-body">        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" [src]="auto2" width="150px" height="300px" alt="Card image cap">
      <div class="card-body">
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" [src]="auto4" width="150px" height="300px" alt="Card image cap">
      <div class="card-body">        
      </div>
    </div>
  </div>

  <div class="card w-85">
    <div class="card-body">
      <h3 class="card-title">Autobuses el poblado laureles</h3>
      <p class="card-text">
        El trabajo interinstitucional, se basa en los siguientes aspectos básicos: <br> <br>

        <li> Claridad, transparencia y respeto mutuo.</li> <br>
        <li>Comunicación permanente dialogo y concertación.</li> <br>
        <li>Decisiones con justicia y equidad.</li> <br>
        <li>Respeto al marco jurídico que regula la prestación del servicio.</li>
      </p>
     
    </div>
  </div>


</div>

<div *ngIf="rol">
  <rolUsuario-app></rolUsuario-app>
</div>

<div *ngIf="permiso">
  <seguridad-app></seguridad-app>
</div>
